@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.lux-bar {
  @include no-select;
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  width: 140px;
  height: 15px;
  border: 1px solid $color-white;
  border-right: none;

  &:after {
    font-size: 1.5rem;
    position: absolute;
    right: -50px;
    content: 'LUX';
    color: $color-white;
  }
}

.lux-bar__progress {
  position: absolute;
  width: 90%;
  height: 100%;
  transition: background-color 0.1s ease-out;
  background-color: rgba(white, .25);

  &:after {
    position: absolute;
    right: 0;
    bottom: -1px;
    width: 1px;
    height: 20px;
    content: '';
    background-color: $color-white;
  }
  
  .lux-bar--is-in-danger & {
    transition: background-color 0.4s ease-out;
    background-color: $color-pink;
  }
}
