@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.fish-name {
  @include no-select;
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  text-align: right;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: $color-white;
  pointer-events: none;
  opacity: 0;
}
