@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';



.tooltips-tutorial {
  display: none;
}

.tooltips-tutorial__skip {
  display: block;
  position: fixed;
  text-align: right;
  font-size: 1.4rem;
  right: 2.5rem;
  bottom: 2.5rem;
  color: $color-white;
  text-transform: uppercase;
  transition: color 0.3s ease-out;
  font-family: $font-tstar;
  cursor: pointer;

  &:hover {
    color: $color-medium-grey;
  }
}

.tooltips-tutorial__el {
  position: absolute;

  &--location {
    top: 9rem;
    left: 25rem;
  }

  &--timer {
    bottom: 7rem;
    left: 9.5rem;
  }

  &--luxbar {
    bottom: 2.7rem;
    left: 23rem;
  }

  &--depth {
    top: 40%;
    right: 8rem;
  }
}

.tooltips-tutorial__svg {
  fill: $color-white;

  .tooltips-tutorial__el--location & {
    width: 9rem;
  }
  .tooltips-tutorial__el--timer & {
    width: 8rem;
  }
  .tooltips-tutorial__el--luxbar & {
    width: 17.5rem;
  }
  .tooltips-tutorial__el--depth & {
    width: 9.7rem;
  }
}

.tooltips-tutorial__indication {
  position: absolute;
  font-size: 1.4rem;
  white-space: nowrap;
  line-height: 16.8rem;
  text-transform: uppercase;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);

  .tooltips-tutorial__el--location & {
    top: -1rem;
    left: 50%;
  }

  .tooltips-tutorial__el--timer & {
    top: -10.4rem;
    left: 6rem;
  }

  .tooltips-tutorial__el--luxbar & {
    top: -10.4rem;
    left: 6rem;
  }

  .tooltips-tutorial__el--depth & {
    top: 0.4rem;
    left: -4.2rem;
  }

}
