@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

$indicator-right-pos: 2.5rem;
$indicator-bottom-pos: -0.7rem;

.depth-bar {
  @include center-y;

  width: 15px;
  height: 40%;
  position: absolute;
  right: 5rem;
  border: 1px solid $color-white;
  border-bottom: none;
}

.depth-bar__progress {
  width: 100%;
  height: 20%;
  position: absolute;
  background-color: rgba(white, 0.25);
}

.depth-bar__progress-indicator {
  position: absolute;
  right: $indicator-right-pos;
  bottom: $indicator-bottom-pos;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: $font-tstar;
  color: rgba(white, 0.25);
  text-align: right;

  span:last-child {
    margin-left: 0.5rem;
  }

  &:after {
    content: '';
    position: absolute;
    right: -$indicator-right-pos;
    bottom: -$indicator-bottom-pos;
    width: 2rem;
    height: 0.1rem;
    background-color: $color-white;
  }
}
