@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';
@import '~stylesheets/common/keyframes';

.home-slider {
  @include center-x;
  bottom: 6rem;
  text-align: center;
}

.home-slider__svg {
  display: block;
  width: 4rem;
  margin: 0 auto 2.5rem auto;
  overflow: visible;
  fill: transparent;
  stroke: $color-white;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// SVG STYLES
.home-slider__svg-line {
  opacity: 0.75;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1, 4;

  animation: draw-dash 100s infinite;
}

.home-slider__svg-big-circle {
  stroke: $color-white;
  stroke-dasharray: 1.0025, 4.0098;
  transform-origin: 50% 50%;
}

.home-slider__svg-inner-grabber {
  opacity: 0.75;
  transform-origin: 17.2% 37%;
}

.home-slider__svg-outer-grabber {
  opacity: 0.35;
  transition: transform 0.3s ease-out;
  transform-origin: center center;
}

// ::: Grabber
.home-slider__grabber {
  position: relative;
  display: block;
  z-index: 10;
  cursor: pointer;
  transition: stroke 0.3s ease-out;
}

// ::: Instructions
.home-slider__instructions {
  @include no-select;
  color: $color-white;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: 200;
}
