@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.timer {
  @include no-select;
  position: absolute;
  left: 2.5rem;
  bottom: 5.5rem;
  color: $color-white;
  font-size: 1.8rem;
  font-family: $font-tstar;
  transition: color .3s ease-out;

  &--is-in-danger {
    color: $color-red;
  }
}
