@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.timer {
  @include no-select;
  font-family: $font-tstar;
  font-size: 1.8rem;
  position: absolute;
  bottom: 5.5rem;
  left: 2.5rem;
  transition: color 0.3s ease-out;
  color: $color-blue-2;
  
  &--is-in-danger {
    color: $color-red;
  }
}
