@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.home-title {
  @include center-xy;
  @include no-select;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  font-family: $font-akkurat;
  color: $color-white;
  text-transform: lowercase;
}