@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.home {
  background-color: $color-sea-blue;
  width: 100%;
  height: 100%;
  z-index: 15;

  &--drag-complete {
    position: absolute !important;
    top: 0!important;
  }
}

.home__wrapper {
  width: 100%;
  background-color: $color-sea-blue;

  .home--drag-complete & {
    transform: none!important;
  }
}

.home__about {
  position: absolute;
  top: 5rem;
  right: 5rem;
  font-size: 1.6rem;
  color: $color-white;
  font-family: $font-tstar;
  transition: color .3s ease-out;
  cursor: pointer;

  &:hover {
    color: $color-medium-grey;
  }
}

.home__intro-text {
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  color: $color-white;
}

.home__title {
  @include no-select;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  font-family: $font-akkurat;
}

.home__catchphrase {
  width: 34rem;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-family: $font-tstar;
  font-weight: 200;
}

.home__transition-image {
  display: block;
  position: relative;
  top: 100%;
  width: 100%;
  height: 1000px;
  background: url(/images/home/transition.png) center no-repeat;
  background-size: cover;
}

.home__loading-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: red;
  span {
    @include center-xy;
  }
}
