<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Luxoperon - Discover deep seas through a WebGL experience</title>

    <meta charset="utf-8">
    <meta name="description" content="Discover abyssal species through a WebGL experience. Luxoperon is a Gobelins bachelor designer & développeur interactif final year project.">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Gobelins, WebGL, luxoperon, bddi, experience">
    <meta name="author" content="Jantana Hennard, Alexandre Delalleau, Fabien Motte, Patrick Heng">
    <meta name="copyright" content="© Copyright 2016 - Jantana Hennard, Alexandre Delalleau, Fabien Motte, Patrick Heng" />
    <meta name="google-site-verification" content="OOk1DeXgiMCDj-G-wvafDM5HzmvJDeP0zkQv4aC1UXU" />


    <!-- Robots -->
    <meta name="robots" content="index, follow">
    <meta name="location" content="Paris, FRANCE">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">

    <!-- Facebook meta -->
    <meta property="og:title" content="Luxoperon - Discover deep seas through a WebGL experience"/>
    <meta property="og:image" content="http://luxoperon.io/images/share/share.jpg"/>
    <meta property="og:url" content="http://luxoperon.io/"/>
    <meta property="og:site_name" content="Luxoperon - Discover deep seas through a WebGL experience"/>
    <meta name="description" content="Discover abyssal species through a WebGL experience. Luxoperon is a Gobelins final year project."/>

    <!-- Twitter meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cherwoood">
    <meta name="twitter:creator" content="@cherwoood">
    <meta name="twitter:title" content="Luxoperon - Discover deep seas through a WebGL experience">
    <meta name="twitter:description" content="Discover abyssal species through a WebGL experience. Luxoperon is a Gobelins final year project.">
    <meta name="twitter:image:src" content="http://luxoperon.io/images/share/share.jpg">

    <!-- GOOGLE + Share -->
    <meta itemprop="name" content="Luxoperon - Discover deep seas through a WebGL experience">
    <meta itemprop="description" content="Discover abyssal species through a WebGL experience. Luxoperon is a Gobelins final year project.">
    <meta itemprop="image" content="http://luxoperon.io/images/share/share.jpg">

  </head>
  <body>
    <div id="root"></div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-78846101-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
