@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.about {
  @include full-absolute;
  z-index: 100001;
  display: none;
  overflow: hidden;
  color: $color-white;
  background: rgba($color-deep-blue, .9);

  &--is-visible {
    display: block;
  }
}

.about__cross {
  @include center-x;
  top: 5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: fill 0.2s ease-out;
  fill: $color-white;

  &:hover {
    fill: $color-medium-grey;
  }
}

.about__container {
  @include center-xy;
  width: 70%;
  max-width: 1000px;
}

.about__section {
  float: left;

  &--description {
    width: calc(500px);
  }

  &--team {
    float: right;
    width: 200px;
  }
}

.about__title {
  font-family: $font-tstar;
  font-size: 2.1rem;
  position: relative;
  margin-bottom: 4.5rem;
  text-transform: uppercase;
  color: $color-yellow;

  &:after {
    position: absolute;
    top: 5rem;
    left: 0;
    display: inline-block;
    width: 2rem;
    height: 0.2rem;
    content: '';
    background: $color-yellow;
  }

  .about__section--team &:after {
    top: 3rem;
  }
}

.about__title-line {
  display: inline-block;
  width: 2rem;
  height: 0.1rem;
  margin-right: 1rem;
  margin-bottom: 0.2rem;
  background: $color-blue;
}

.about__paragraph {
  font-size: 1.4rem;
  line-height: 1.88rem;
  max-width: 550px;
}

.about__paragraph b {
  font-weight: bold;
}

.about__paragraph a {
  font-weight: bold;
  transition: color 0.3s ease-out;
  color: $color-white;

  &:hover {
    color: $color-medium-grey;
  }
}

.about__team-block {
  margin-top: 4rem;
}

.about_team-name {
  font-size: 1.6rem;
  line-height: 1.68rem;
  display: inline-block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: $color-blue;
}

.about__team-list {
  padding: 0;
}

.about__team-list-el {
  font-size: 1.4rem;
  position: relative;
  margin-top: 1rem;
  margin-left: 1.3rem;

  &:before {
    position: absolute;
    top: 4px;
    left: -12px;
    display: block;
    width: 5px;
    height: 5px;
    content: '';
    border-radius: 50%;
    background: $color-blue;
  }

  a {
    transition: color 0.3s ease-out;
    color: $color-white;
    &:hover {
      color: $color-medium-grey;
    }
  }

}

.about__gobelins {
  @include center-x;
  bottom: 4.5rem;
  text-align: center;
}

.about__gobelins-logo {
  display: block;
  width: 10rem;
  margin: auto;
}

.about__gobelins-paragraph {
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 1.5rem;
}
