@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.about {
  display: none;
  @include full-absolute;
  background: rgba($color-deep-blue, 0.75);
  color: $color-white;
  z-index: 98;

  &--is-visible {
    display: block;
  }
}
