@import '~stylesheets/common/variables';

.level-infos {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  color : $color-white;
  text-align: right;

  p {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
}

.level-infos__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.level-infos__helper-button {
  font-size: 2rem;
  padding: 1rem;
  color: $color-white;
  transform: translateX(1rem);
  cursor: pointer;
  transition: transform 0.2s ease-out, color 0.2s ease-out;

  &:hover {
    color: $color-medium-grey;
    transform: translateX(1rem);
  }
}
