@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.level-infos {
  @include no-select;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  text-align: right;
  color: $color-white;

  p {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
}

.level-infos__title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.level-infos__depth {
  color: $color-yellow;
}

.level-infos__pressure,
.level-infos__temp {
  color: $color-blue-2;
}

.level-infos__helper-button {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
  transform: translateX(1rem);
  color: $color-white;

  &:hover {
    transform: translateX(1rem);
    color: $color-medium-grey;
  }
}
