@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.end-popin {
  @include full-absolute;
  z-index: 98;
  display: none;
  overflow: hidden;
  color: $color-white;
  background: rgba($color-deep-blue, .85);

  &--is-visible {
    display: block;
  }
}

.end-popin__about {
  font-family: $font-tstar;
  font-size: 1.6rem;
  position: absolute;
  top: 5rem;
  right: 5rem;
  cursor: pointer;
  transition: color 0.3s ease-out;
  color: $color-white;

  &:hover {
    color: $color-medium-grey;
  }
}

.end-popin__title {
  font-size: 1.8rem;
  line-height: 3.3rem;

  strong {
    font-size: 2.3rem;
    display: block;
    color: $color-yellow;
  }
}

.end-popin__link {
  font-size: 1.4rem;
  display: inline-block;
  margin: 0 2.5rem;
  padding: 15px 20px;
  cursor: pointer;
  transition: color 0.3s ease-out, background 0.3s ease-out;
  text-transform: uppercase;
  text-transform: uppercase;
  color: $color-white;
  border: 1px solid $color-white;

  &:hover {
    color: $color_medium_grey;
    background: $color-white;
  }

}

.end-popin__container {
  @include center-xy;
  width: 100%;
  text-align: center;
}

.end-popin__image {
  display: inline-block;
  width: 200px;
  margin-right: 4rem;
}

.end-popin__recap {
  display: flex;
  margin: 9rem auto;
  align-items: center;
  justify-content: center;
}

.end-popin-recap_info-list {
  display: flex;
}

.end-popin-recap_info-el {
  position: relative;
  display: inline-block;
  margin: 0 4rem;
  text-align: left;

  &:after {
    position: absolute;
    top: 5px;
    right: -40px;
    width: 1px;
    height: 40px;
    content: '';
    background-color: $color-white;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }

}

.end-popin-recap_info-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.end-popin-recap_info-description {
  font-size: 2.4rem;
  color: $color-blue-2;
}

.end-popin .lux-bar {
  top: 3.5rem;
  left: 2px;
}

.end-popin .lux-bar__progress {
  &:after {
    display: none;
  }
}

.end-popin__video-btn {
  font-family: $font-tstar;
  font-size: 1.4rem;
  position: fixed;
  z-index: 10;
  bottom: 2.5rem;
  left: 2.5rem;
  cursor: pointer;
  transition: color 0.3s ease-out;
  text-transform: uppercase;
  color: $color-white;

  &:hover {
    color: $color-medium-grey;
  }
  
}
