@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.level-introduction {
  @include full-absolute;
  background: rgba(black, 0.5);
  color: $color-white;
  z-index: 100;
}
