@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.level-introduction {
  @include full-absolute;
  z-index: 100;
  color: $color-white;
  background: rgba($color-black, .5);
  
  &--is-ended {
    display: none;
  }
}
