@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.fish-counter {
  @include no-select;
  font-size: 1.4rem;
  position: absolute;
  bottom: 9.5rem;
  left: 2.5rem;
  color: $color-white;
}

.fish-counter__text {
  display: inline-block;
}

.fish-counter__current {
  color: $color-blue;

  &:after {
    content: ' / ';
    color: $color-blue;
  }
}

.fish-counter__icon {
  display: inline-block;
  overflow: visible;
  width: 2.6rem;
  margin-left: 1rem;
}

.fish-counter__icon-path {
  display: inline-block;
  fill: none;
  stroke: $color-white;
  stroke-width: 4px;
}
