@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.introduction-tutorial {
  display: none;
  text-align: center;
  text-transform: uppercase;
}

.introduction-tutorial__container {
  @include center-xy;
}

.introduction-tutorial__icon {
  display: block;
  overflow: visible;
  width: 100px;
  margin: auto;
}

.introduction-tutorial__step {
  display: none;
  &--hold-to-move {
    display: block;
  }
}

.introduction-tutorial__skip {
  font-family: $font-tstar;
  font-size: 1.4rem;
  position: fixed;
  right: 2.5rem;
  bottom: 2.5rem;
  display: block;
  cursor: pointer;
  transition: color 0.3s ease-out;
  text-align: right;
  text-transform: uppercase;
  color: $color-white;

  &:hover {
    color: $color-medium-grey;
  }
}

.introduction-tutorial__instruction {
  font-size: 1.4rem;
  line-height: 2rem;
  overflow: hidden;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.introduction-tutorial__icon--hold-to-move {
  transform: translateX(-7px);

  .st0 {
    opacity: 0.75;
    fill: none;
    stroke: #f2f2f2;
    stroke-miterlimit: 10;
  }

  .st1 {
    opacity: 0.75;
  }

  .st2 {
    fill: #f2f2f2;
  }

  .st3 {
    fill: #161a28;
    stroke: $color-white;
    stroke-miterlimit: 10;
  }
}

.introduction-tutorial__icon--reveal {
  transform: translateX(-5px);

  .st0 {
    opacity: 0.25;
  }

  .st1 {
    opacity: 0.95;
  }

  .st2 {
    opacity: 0.99;
    fill: #161a28;
    stroke: $color-white;
    stroke-miterlimit: 10;
  }

  .st3 {
    fill: #161a28;
    stroke: $color-white;
    stroke-miterlimit: 10;
  }
}
