@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';



.introduction-tutorial {
  display: none;
  text-transform: uppercase;
  text-align: center;
}

.introduction-tutorial__container {
  @include center-xy;
}

.introduction-tutorial__icon {
  display: block;
  width: 100px;
  margin: auto;
  overflow: visible;
}

.introduction-tutorial__step {
  display: none;
  &--hold-to-move {
    display: block;
  }
}

.introduction-tutorial__skip {
  display: block;
  position: fixed;
  text-align: right;
  font-size: 1.4rem;
  right: 2.5rem;
  bottom: 2.5rem;
  color: $color-white;
  text-transform: uppercase;
  transition: color 0.3s ease-out;
  font-family: $font-tstar;
  cursor: pointer;

  &:hover {
    color: $color-medium-grey;
  }
}

.introduction-tutorial__instruction {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  margin-top: 2rem;
  overflow: hidden;
}

.introduction-tutorial__icon--hold-to-move {
  transform: translateX(-7px);
  .st0{opacity:0.75;fill:none;stroke:#F2F2F2;stroke-miterlimit:10;}
  .st1{opacity:0.75;}
  .st2{fill:#F2F2F2;}
  .st3{fill:#161A28;stroke:#FFFFFF;stroke-miterlimit:10;}
}

.introduction-tutorial__icon--reveal {
  transform: translateX(-5px);
  .st0{opacity:0.25;}
	.st1{opacity:0.95;}
	.st2{opacity:0.99;fill:#161A28;stroke:#FFFFFF;stroke-miterlimit:10;}
	.st3{fill:#161A28;stroke:#FFFFFF;stroke-miterlimit:10;}
}
